@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Lobster&family=Montserrat&family=Overpass:wght@300&family=Padauk&family=Signika+Negative:wght@300&family=Work+Sans&display=swap');
*{
    margin: 0px;
    font-family: 'Signika Negative', sans-serif;
    color: black;
    font-size: 30px;

}
.m1{
    background-image: url(ma1.jpg);
    height:900px;
    opacity: 0.7;
}
.m2{
    background-image: url(ma2.jpg);
    height:400px;
    background-size:1900px 900px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    opacity: 0.7;

}
.m3{
    background-image: url(ma4.jpg);
    height:400px;
    background-size: 1900px 900px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    opacity: 0.7;
}
.m4{
    background-image: url(ma3.jpg);
    height: 1000px;
    opacity: 0.6;
}
.m1,.m4{
    position: relative;
    opacity: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.mabout{
    text-align: center;
    background:rgba(239, 239, 239, 0.918);
    
    padding: 50px 90px;
}
.mabout,p{
    height: 350px;
    
    font-size:25px;
}
.mtext{
    position:absolute;
    text-align: center;
    top:50%;
    width: 100%;
    font-size: 45px;
    letter-spacing: 8.5px;
    color: #000;
    
}
.mtext .title{
    background-color:rgb(255, 255, 255);
    width:200px;
    height: 300px;
    font-weight: 800;
    opacity:1;
    

}
.mabout h1{
    padding: 20px;
}